<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Kinesis Stream</title>
    <style type="text/css">
        .item {
            background-color: cornsilk;
            margin: 5px;
        }
    </style>
</head>
    <body>
        <div id="mainapp"></div>
        <script src="@routes.Assets.at("javascripts/modules/react.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/compiled/main.js")"></script>
        <script type="text/javascript">goog.require("kinesis_om_template.core");</script>
    </body>
</html>
